<!DOCTYPE>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='chat.js')}}"></script>

        <script type="text/javascript" charset="utf-8">
            function print_list(data){
                for(let k in data) { print(data[k]); }
            }
            print_list({{ data|safe }})
        </script>

        <style>
            .pagination {
                display: inline-block;
            }

            .pagination button {
                list-style: none;
                color: black;
                float: left;
                padding: 8px 8px;
                text-decoration: none;
            }

            .pagination button.active {
                background-color: #4CAF50;
                color: white;
            }

            .pagination button:hover:not(.active) {background-color: #ddd;}
        </style>
    </head>
    <body>
        <!-- 投稿場所 -->
        <div class="contribution">
            <div>
                <textarea name="emit_data" id="emit_data" cols="50" rows="10"></textarea>
            </div>
            <form id="broadcast" action='#'>
                <div>
                    <button name="contribution" value="">投稿</button>
                </div>
            </form>
        </div>

        <!-- ページ移動 -->
        <form action="/chat_change" method="post">
            <ul class="pagination">
                <button type="submit" value="start" name="page_num">&lt;&lt;</button>
                {% for n in pages %}
                    {% if page == n %}
                        <button class="active" value={{n}} name="page_num" disabled>{{n}}</button>
                    {% else %}
                        <button type="submit" value={{n}} name="page_num">{{n}}</button>
                    {% endif %}
                {% endfor %}
                <button type="submit" value="end" name="page_num">&gt;&gt;</button>
            </ul>
        </form>

        <!-- 投稿 -->
        <ul id="log">
            <script>print_list({{DATA|safe}});</script>
        </ul>

    </body>
        <script type="text/javascript" charset="utf-8">
            $(function () {
                namespace = '/chat_req';
                var socket =
                    io.connect('http://'+ document.domain+ ':' + location.port + namespace);

                // ボタンが押された時，textareaを読み込む
                $('form#broadcast').submit(function (event) {
                    // 改行を<br>に置換
                    // pythonに送るため，変換
                    var str = escape( $('#emit_data').val().replace(/\r?\n/g, '<br>') );

                    // pythonの'my_event'にコネクト
                    socket.emit('my_event', {da: date_(), chat: str });
                    return false;
                });

                // pythonからのコネクト
                socket.on('my_response', function (msg) {
                    // ページが最初の時に表示の更新
                    if($("form .pagination .active").val() == 1){
                        print(msg); // 表示
                        var size = $('#log .print_chat').length;
                        if(size > 10){
                            $('#log .print_chat:last').remove();
                        }
                    }
                    document.getElementById("emit_data").value = ""; // 入力欄リセット
                });
            })
        </script>
</html>

